<h1> <%= @student.name.capitalize %>'s One on One Meetings </h1>
<div class="col-md-4">
<div class="well">
  <h3>Last Week's Notes:</h3>
  <% @notes.each do |note| %>
    <% if note.created_at.to_date < Time.now.to_date %>
        <%= note.created_at.time.strftime("%B %d, %Y") %> --
        <!-- ugly ugly ugly code on the line below -->
        <%= Meeting.find_author_by_id(note.author).name %>: 
        <%= note.content.html_safe %>
      <% end %>
      <br>
  <% end %>
</div>

<div class="well">
  <h3>This Week's Notes:</h3>
  <!-- Display this week's notes -->
    <% @notes.each do |note| %>
      <% if note.created_at.to_date == Time.now.to_date %>
        <%= note.created_at.time.strftime("%B %d, %Y") %>:
        <%= note.content.html_safe %>
      <% end %>
      <br>
    <% end %>
</div>

<div class="well">
  <!-- Create a new note -->
  <%= form_for @note do |f| %>
    <%= f.label :content, "Notes:" %>
    <%= f.text_area :content %>
    <br>
    <%= f.hidden_field :user_id, :value => @student.id %>
    <%= f.hidden_field :author, :value => current_user.id %>
    <%= f.submit %>
  <% end %>
</div>


<h3>Schedule New Goals for <%= @student.name.capitalize %>:</h3>
<%= form_for @project, url: {:controller => 'projects', action: "create"} do |f| %>
  <%= f.label :title, "Project Title" %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :project_type, "Web App" %>
  <%= f.radio_button(:project_type, "App") %>
  
  <%= f.label :project_type, "Lab" %>
  <%= f.radio_button(:project_type, "Lab") %>

  <%= f.label :project_type, "Blog" %>
  <%= f.radio_button(:project_type, "Blog") %>
  <br>
  <%= f.label :description, "Description" %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :starts_at, "Estimated Completion" %>
  <%= f.date_field :starts_at %>
  <br>
  <%= f.label :link, "Link" %>
  <%= f.text_field :link %>
  <br>
  <br>
  <%= f.hidden_field :user_id, :value => @student.id %>
  <%= f.submit %>
<% end %>
</div>