<h1>Schedules</h1>
<%= week_calendar events: @projects do |date, projects| %>
  <%= date %>

  <% projects.each do |project| %>
    <div>
      <%= project.user.name.capitalize %>:
      <%= project.title %>
      <%= link_to("Repository", project.repository) %>
    </div>
  <% end %>
<% end %>


<h2>What'd you get done this week?</h2>
If they accomplished event, mark as complete. If not, reschedule for next week.
<h2>What will you do next week?</h2>
I'm thinking the 1-on-1 should be during the friday standup. Create a section for notes.