<h1>Weekly Standup</h1>
<%= week_calendar events: @projects do |date, projects| %>
  <%= date %>

  <% projects.each do |project| %>
    <div>
      <p>
        Student: <%= project.user.name.capitalize %> <br>
        <%= project.type  %> Title: <%= project.title %> <br>
        Link: <%= link_to("Repository", project.link) %> <br>
      </p>
    </div>
  <% end %>
<% end %>

