
<% if !current_user %>
	<div class="main-msg text-center">
		<p>Be PWEPared</p>
		<%= link_to('Sign In With Github', login_path, class: "btn btn-info btn-lg") %>
	</div>
<% elsif current_user.admin? %>
	<div class="main-msg text-center">
		<p>Hello, <%= current_user.name %></p>
		<div class="inline">	
			<%= link_to("Generate Weekly Standup Schedule", user_schedules_path(current_user.id), class: "btn btn-info btn-lg") %>
		</div>
		<div class="inline">
			<% @users.each do |user| %>
				<%= link_to(user.name, user_meetings_path(user.id), class: "btn btn-info btn-lg") if !user.admin %>
			<% end %>
		</div>
	</div>
<% else %>
	<div class="main-msg text-center">
		<p>Hello, <%= current_user.name %></p>
		<%= link_to("Plan A New Project", new_project_path, class: "btn btn-info btn-lg") %>
		<%= link_to("Weekly Schedule", user_schedules_path(current_user.id), class: "btn btn-info btn-lg") %>
	</div>
<% end %>
<div id="footer">
	<p class="footer-container">
		<span class="heart"> Made with <span>&lt;3</span>&nbsp;</span>
		<a target="_blank" href="http://flatironschool.com">
		<span class="fis-container"><span class="slashes">//</span> 
		<span class="fis">Flatiron School</span></span></a>
	</p>
</div>