<h1>Flatiron PWEP</h1>
<% if !current_user %>
  <%= link_to("Plan A New Project", new_project_path) %>
<% elsif current_user.admin? %>
  <%= link_to("Generate Weekly Standup Schedule", user_schedules_path(current_user.id)) %> <br><br>
  One on One Meeting <br>
  <% @users.each do |user| %>
    <%= link_to(user.name.capitalize, user_meetings_path(user.id)) if !user.admin %>
  <% end %>

<% else %>
  <%= link_to("Plan A New Project", new_project_path) %>
  <br>
  <%= link_to("Weekly Schedule", user_schedules_path(current_user.id)) %>
<% end %>