<% if !current_user %>
	<%#= link_to("Plan A New Project", new_project_path) %>
<% elsif current_user.admin? %>
	<%= link_to("Generate Weekly Standup Schedule", user_schedules_path(current_user.id)) %> <br><br>
	One on One Meeting <br>
	<% @users.each do |user| %>
		<%= link_to(user.name.capitalize, user_meetings_path(user.id)) if !user.admin %>
	<% end %>

<% else %>
	<%= link_to("Plan A New Project", new_project_path) %>
	<br>
	<%= link_to("Weekly Schedule", user_schedules_path(current_user.id)) %>
<% end %>

<div class="main-msg text-center">
	<p>Be PWEPared</p>
	<%= link_to 'Sign In With Github', login_path, class: "btn btn-info btn-lg" %>
</div>

<div id="footer">
	<p class="footer-container">
		<span class="heart"> Made with <span>&lt;3</span>&nbsp;</span>
		<a target="_blank" href="http://flatironschool.com">
		<span class="fis-container"><span class="slashes">//</span> 
		<span class="fis">Flatiron School</span></span></a>
	</p>
</div>